@model webapiclient2.Models.Booking

@{
    ViewData["Title"] = "BuyTicket";
}

<h1>BuyTicket</h1>

<h4>BookingSet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BuyTicket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlightNo" class="control-label"></label>
                <input asp-for="FlightNo" class="form-control" value="@ViewBag.flightInfo.FlightNo" readonly="readonly" />
                <span asp-validation-for="FlightNo" class="text-danger"></span>
            </div>
            <div>
                <label>Departure : @ViewBag.flightInfo.Departure</label>
            </div>
            <div>
                <label>Destination : @ViewBag.flightInfo.Destination</label>
            </div>
            <div>
                <label>Date : @ViewBag.flightInfo.Date</label>
            </div>
            <div class="form-group">
                <label asp-for="SalesPrice" class="control-label"></label>
                <input asp-for="SalesPrice" class="form-control" value="@ViewBag.flightInfo.Price" readonly="readonly" />
                <span asp-validation-for="SalesPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
